# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.db
Snake/.vs/Snake/v14/.suo
*.obj
Snake/Snake/x64/Debug/Affichage.sbr
*.sbr
*.suo
Snake/Snake.VC.db
*.opendb
*.sbr
Snake/Snake/x64/Debug/Commandes_Calculs.obj
*.sbr
*.log
Snake/Snake/x64/Debug/Snake.tlog/CL.write.1.tlog
*.tlog
*.idb
Snake/x64/Debug/Snake.bsc
*.exe
Snake/x64/Debug/Snake.ilk
